<p>Le <%= Time.zone.now %></p>
<p>
Le service V<%= @endpoint.api_version %> <%= @endpoint.name %>
<% if @ping_report.status.upcase == 'DOWN' %>
  est <%= @ping_report.status.upcase %>.
<% else %>
  est UP. Il était DOWN depuis le <%= @ping_report.first_downtime %>
<% end %>
</p>
